@model Entities.DataTransferObject.NewsGetDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>News</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            News Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            Source
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RssSource.Name)
        </dd>
        <dt class="col-sm-2">
            Url
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        @* <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>*@

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>



    </dl>
</div>

<!--<div class="row ">
    <button id="comments-display-switcher" class="btn btn-primary col-sm-12">Display comments</button>
    <div class="container">
        <div id="comments-container" class="row">-->
            @*@foreach (var comment in Model.Comments)
                {
                    @await Html.PartialAsync("CommentPartial", comment)
                }*@
        <!--</div>
    </div>
</div>-->
<div>
    <a asp-controller="News" asp-action="Index" asp-route-sourseId="@Model.Id">News</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="News" asp-action="DeleteNews" asp-route-id="@Model.Id"
       onclick="return confirm('Are you sure?')">Delete news</a>

</div>
