@using NewsAggregatorMain.HtmlHelpers
@model NewsAggregatorMain.Models.ViewModel.NewsVM.NewsListWithPaginationInfo

@{
    ViewData["Title"] = "View";
}
<div class="row">
    <div>
        <font size="5" face="Courier New">
            <table width="100%" cellspacing="0" cellpadding="5">
                <tr>
                    <td align="right">Курсы валют Нацбанка РБ</td>
                    <td valign="top">USD:</td>
                    <td valign="top">@ViewData["USD"]</td>
                    <td valign="top">EUR:</td>
                    <td valign="top">@ViewData["EUR"]</td>
                    <td valign="top">RUB:</td>
                    <td valign="top">@ViewData["RUB"]</td>
                </tr>
            </table>
        </font>
        <hr align="center" color="Blue" />
        <h1 align="center">ALL NEWS</h1>
        <div>

        </div>
    </div>
</div>


@if (Model.IsMember)
{
    <p>
        <div class="row">
            <div align="left" class="col">
            <a asp-action="Aggregate">Create News</a>

            </div>

            <div align="right" class="col">

            <a asp-action="Index" asp-route-sortState="RatingSort">Sort</a>
            </div>

        </div>
    </p>
}

<div class="row">

    @foreach (var item in Model.News)
    {
        await Html.RenderPartialAsync("ShortNewsPreview", item);
    }

</div>

@*<div class="btn-group">
        @Html.CreatePagination(Model.PageInfo, i =>
    Url.Action("Index", new { page = i, sourseId = Model.News.FirstOrDefault().Id}))

    </div>
*@
<hr align="center" color="Blue" />

<div class="row">

    <div class="col">
        @if (Model.PageInfo.HasPreviousPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageInfo.PageNumber - 1)"
               class="btn btn-outline-dark">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Назад
            </a>
        }
    </div>

    <div class="col">@Model.PageInfo.PageNumber</div>

    <div class="col">
        @if (Model.PageInfo.HasNextPage)
        {
            <a asp-action="Index"
               asp-route-page="@(Model.PageInfo.PageNumber + 1)"
               class="btn btn-outline-dark">
                Вперед
                <i class="glyphicon glyphicon-chevron-right"></i>

            </a>
        }
    </div>

</div>
