@model Entities.DataTransferObject.NewsGetDTO

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>

<div>
    <h4>@Model.Content</h4>

    <div>
        @Html.Raw(Model.Body)
    </div>
</div>


<div class="row ">
    <button id="comments-display-switcher" class="btn btn-primary col-sm-12" onclick="toggleComments('@Model.Id')">Display comments</button>
    <div class="container">
        <div id="comments-container" class="row">
            @*@foreach (var comment in Model.Comments)
                {
                    @await Html.PartialAsync("CommentPartial", comment)
                }*@
        </div>
    </div>
</div>

<div>
    <a asp-controller="News" asp-action="Index" asp-route-sourseId="@Model.Id">News</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="Delete">Delete</a>
</div>

    <script src="~/js/comments.js"></script>

