@model Entities.DataTransferObject.NewsGetDTO

@{
    ViewData["Title"] = "Details";
}

@if (Model.Url.Contains("onliner"))
{
    <h1>@Model.Title</h1>
}

<div>
    <h4>@Model.Content</h4>

    <div>
        @Html.Raw(Model.Body)
    </div>
</div>

<div class="row ">
    <button id="comments-display-switcher" class="btn btn-primary col-sm-12" onclick="toggleComments('@Model.Id')">Display comments</button>
    <div class="container">
        <div id="comments-container" class="row">
        </div>
        <div id="comments-area" class="row">
        </div>
    </div>
</div>
<div>
    <a asp-controller="News" asp-action="Index" asp-route-sourseId="@Model.Id">News</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-controller="News" asp-action="DeleteNews" asp-route-id="@Model.Id"
       onclick="return confirm('Are you sure?')">Delete news</a>
</div>

    <script src="~/js/comments.js"></script>

