@model Entities.DataTransferObject.NewsGetDTO

<div class="card col-sm-12 col-md-6 col-lg-4 news-card ">
    <div>
        <img src="@Model.HeadImgUrl" alt="Girl in a jacket" width="350" height="200"
             style="vertical-align: bottom; margin:20px 00px">
    </div>
    <hr align="center" color="Grey" />
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Content</p>


    </div>


    <div class="row">
        <div class="col-lg-6">
            <a asp-controller="News" asp-action="ReadInAgregator" asp-route-Id="@Model.Id">На агрегаторе</a>
        </div>
        <br />
        <div class="col-lg-6" align="right">
            <a href="@Model.Url">В источнике</a>
        </div>
    </div>
    <hr />
    @if (User.Claims.Any(x => x.Value.Contains("Admin")))
    {
        <p align="right">
            <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
        </p>
    }
</div>
