@model Entities.Models.NewsForHomePageModel
@{
    ViewData["Title"] = "Home Page";
}

<h1 align="center" class="display-4 col-md-12">Welcome to news agregator</h1>
<hr align="center" color="Blue" />

<div class="row">
    <div class="card col-sm-12 col-md-6 col-lg-6 news-card ">
        <h3 align="center">Самая хорошая новость на этот час</h3>
        <div>
            <img src="@Model.GoogNews?.HeadImgUrl" alt="Girl in a jacket" width="530" height="330"
                 style="vertical-align: bottom; margin:20px 00px">
        </div>
        <hr align="center" color="Grey" />
        <div class="card-body">
            <h5 align="center" class="card-title">@Model.GoogNews?.Title</h5>
            <p class="card-text">@Model.GoogNews?.Content</p>
            <div class="row">
                <div class="col-lg-6">
                    <a asp-controller="News" asp-action="ReadInAgregator" asp-route-Id="@Model.GoogNews?.Id">Читать на агрегаторе</a>
                </div>
                <br />
                <div class="col-lg-6" align="right">
                    <a href="@Model.GoogNews?.Url">Читать в источнике</a>
                </div>
            </div>

            @if (User.Claims.Any(x => x.Value.Contains("Admin")))
            {
                <hr />
                <p align="right">
                    <a asp-controller="News" asp-action="Details" asp-route-id="@Model.GoogNews?.Id">Details</a>
                </p>
            }
        </div>

    </div>

    <div class="card col-sm-12 col-md-6 col-lg-6 news-card ">
        <h3 align="center">Самая плохая новость на этот час</h3>
        <div>
            <img src="@Model.BadNews?.HeadImgUrl" alt="Girl in a jacket" width="530" height="330"
                 style="vertical-align: bottom; margin:20px 00px">
        </div>
        <hr align="center" color="Grey" />
        <div class="card-body">
            <h5 align="center" class="card-title">@Model.BadNews?.Title</h5>
            <p class="card-text">@Model.BadNews?.Content</p>
            <div class="row" >
                <div class="col-lg-6">
                    <a asp-controller="News" asp-action="ReadInAgregator" asp-route-Id="@Model.BadNews?.Id">Читать на агрегаторе</a>
                </div>
                <br />
                <div class="col-lg-6" align="right">
                    <a href="@Model.BadNews?.Url">Читать в источнике</a>
                </div>
            </div>
            @if (User.Claims.Any(x => x.Value.Contains("Admin")))
            {
                <hr />
                <p align="right">
                    <a asp-controller="News" asp-action="Details" asp-route-id="@Model.BadNews?.Id">Details</a>
                </p>
            }
        </div>
    </div>

</div>

@*<img src="MainLogo.jpg" alt="Центрируем изображение" class="center-img" />*@







@*<script src="~/js/Lessons/WorkWithDom.js"></script>*@


@*<script src="~/js/comments.js"></script>*@