@model Entities.Models.AssembledModel.SourseWithNewsCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RssSourse</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfReceiving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfReceiving)
        </dd>

    </dl>

    <table class="table">
        <thead>
            <tr>
                <th>
                    NewsId
                </th>
                <th>
                    Title
                </th>

                <th>
                    Category
                </th>
                <th>
                    Date of resived
                </th>
                <th>
                    Raiting
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.News)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Title
                    </td>
                    @if (item.Category?.Name == null)
                    {
                        <td>
                            нет
                        </td>
                    }

                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @item.Rating
                    </td>
                    <td>
                        <a asp-controller="RssSourses" asp-action="DeleteNews" asp-route-id="@item.Id"
                           onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div>
    <a asp-controller="News" asp-action="Index" asp-route-sourseId="@Model.Id">News</a>
    <a asp-action="DetailsWithNews" asp-route-id="@Model.Id">News for RssSourse</a>
    <a asp-action="Index">Back to List</a>
</div>
