@model Entities.DataTransferObject.UserDto

<h2>Enter user login for searche</h2>
<form asp-controller="Account" asp-antiforgery="true" method="post">
    <label asp-for="Login">Login</label>
    <div class="col-md-6">

        <div class="row">

            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login"></span>
            <div class="col-md-4">
                <input type="submit" value="Find user" class="btn btn-outline-info" asp-action="GetUserInfo" />
            </div>
        </div>
    </div>


    <hr align="center" color="Blue" />

</form>
<form class="row g-3">
    <div class="col-md-6" hidden="hidden">
        <label for="Login" class="form-label">Login</label>
        <input asp-for="Login" class="form-control" placeholder="Текущий логин">
    </div>
    <div class="col-md-6">
        <label for="LoginNew" class="form-label">New login</label>
        <input asp-for="LoginNew" class="form-control" placeholder="Изменить логин">
    </div>
    <div class="col-md-6">
        <label for="Role" class="form-label">Role</label>
        <input asp-for="Role.Name" class="form-control" placeholder="Роль пользователя">
    </div>
    <div class="col-md-6">
        <label for="Country" class="form-label">Country</label>
        <input asp-for="Country" class="form-control" placeholder="Страна">
    </div>
    <div class="col-md-6">
        <label for="City" class="form-label">City</label>
        <input asp-for="City" class="form-control" placeholder="Город">
    </div>
    <div class="col-md-6">
        <label for="LastName" class="form-label">Name</label>
        <input asp-for="LastName" class="form-control" placeholder="Введите имя">
    </div>

    <div class="col-md-2">
        <label for="DayOfBirth" class="form-label">Дата рождения</label>
        <input asp-for="DayOfBirth" class="form-control">
    </div>

    <div class="col-md-7">
        <div class="row">
            <div class="col-md-5">
                <label for="Phone" class="form-label">Phone</label>
                <input asp-for="Phones" class="form-control" placeholder="Телефон">
            </div>
            <div class="col-md-5">
                <label for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Электронная почта">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h1>
            <input type="submit" value="UpdateUser" class="btn btn-outline-info" asp-action="UpdateUser" />
        </h1>
    </div>
</form>

<hr align="center" color="Blue" />

<form>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Login
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone number
                    </th>
                </tr>
            </thead>
    </div>
    <tbody>
        @foreach (var item in Model.Users)
        {
        <tr>
            <td>
                @item.Login
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.Role.Name
            </td>
            <td>
                @item.ContactDetails.EMails.FirstOrDefault().UserEMail
            </td>
            <td>
                @item.ContactDetails.Phones.FirstOrDefault().PhoneNumber
            </td>
            <td>
                <a asp-action="DeleteUser" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')"  >Delete user</a> |
            </td>
        </tr>
        }
    </tbody>

</form>























@*<form asp-controller="Account" asp-antiforgery="true" method="post">

        <div class="col-12" >
             <button type="submit" class="btn btn-primary">Update</button>
            <input type="submit" value="Update" class="btn btn-danger" asp-action="UpdateUser" />
        </div>
    </form>
*@

@*<div class="col-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
*@




@*<div class="form-group">
        <h4>User info</h4>

        <dl class="row">
            <dt class="col-sm-2">
                Login user
            </dt>
            <dd class="col-sm-10">
                <input asp-for="Login" />
            </dd>
            <dt class="col-sm-2">
                Role
            </dt>
            <dd class="col-sm-10">
                <input asp-for="Role.Name" />
            </dd>
            <dt class="col-sm-2">
                Country
            </dt>
            <dd class="col-sm-10">
                <input asp-for="Country" />
            </dd>
            <dt class="col-sm-2">
                City
            </dt>
            <dd class="col-sm-10">
                <input asp-for="City" />
            </dd>
        </dl>
    </div>*@






<!--<form asp-action="Register" asp-controller="Account" asp-antiforgery="true" method="post">-->
@* antiforgeryбудет - сгенерирован токе который потом на BE будет валидироватся. т.е. теперь с консоли какой-нибудь невозможно будет сгенерит 100000 запросо.*@
<!--<div class="validation" asp-validation-summary="ModelOnly"></div>-->@*если на нашей модели RegisterViewModel будут ошибки с валидацией, то они будут отрисованы на форме*@
<!--<div>
    <div class="form-group">-->
@*<label asp-for="Login">Login</label>
    <input type="text" asp-for="Login" />

    <span asp-validation-for="Login"></span>*@
<!--<div class="row">
        <div class="col-md-4">
            <input type="submit" value="Find user" class="btn btn-outline-info" asp-action="GetUserInfo" />
        </div>
    </div>
</div>

<div class="form-group">
    <input asp-for="Login" />
    <input asp-for="Country" />
    <input asp-for="City" />
    <input asp-for="Role.Name" />

</div>

<!--<div>
    <h4>User info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Login user
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class="col-sm-2">
            Role
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role.Name)
        </dd>
        <dt class="col-sm-2">
            Country
        </dt>
        <dd class="col-sm-10">
          @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            City
        </dt>
        <dd class="col-sm-10">


            @Html.EditorFor(model => model.Login)-->
@* <input type="text" @Html.TextBoxFor(model => model.City) />
    <input type="text" asp-for="City" />*@
<!--<!--</dd>

    </dl>
</div>-->
<!--@* <div class="form-group">
                <label asp-for="CitySourseId">City</label>

                <select asp-for="CitySourseId" asp-items="Model.SelectListSourseCity">
                    <option selected="selected" disabled="disabled">Выберите город</option>
                </select>
                <span asp-validation-for="Country"></span>
            </div>


            <div class="form-group">
                <label asp-for="CountrySourseId">Country</label>
                <select asp-for="CountrySourseId" asp-items="Model.SelectListSourseCountry">
                    <option selected="selected" disabled="disabled">Выберите страну</option>
                </select>
                <span asp-validation-for="Country"></span>
            </div>*@


        @*  <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phones">Phones</label>
                <input type="text" asp-for="Phones" />
                <span asp-validation-for="Phones"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>*@
        @* <div class="form-group">
                <label asp-for="PasswordConfirmation">Confirm Password</label>
                <input type="password" asp-for="PasswordConfirmation" />
                <span asp-validation-for="PasswordConfirmation"></span>
            </div>*@

    </div>
</form>-->
@*@section Scripts
        {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
*@
